.skeleton-container {
  background-color: rgb(235, 235, 235);
  width: 420px;
  height: 100px;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.skeleton.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  justify-content: center;
  margin-left: 20px;
}

.skeleton.audio {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background-color: #ddd;
}

.skeleton.title {
  width: 50%;
  height: 20px;
  border-radius: 50px;

  margin-bottom: 15px;
  background-color: #ddd;
}

.skeleton.thumbnail {
  width: 100px;
  height: 100px;
  background-color: #ddd;
}

/* Shimmer Effect*/

.shimmer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: loading 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
